<!DOCTYPE html>
<html>
<head>
  <script src="//unpkg.com/d3"></script>
  <script src="//unpkg.com/d3-dsv"></script>
  <script src="//unpkg.com/globe.gl"></script>
  <!--<script src="../../dist/globe.gl.js"></script>-->
  <!-- <link rel="stylesheet" href={{ url_for('static', filename='style.css') }} /> -->
  <link rel="stylesheet" href="/static/style.css">
  </head>

  <body>
    <div id="globeViz">

    </div>

    <!-- Header -->
    <header>
      <div class="logo">
        <p>HydroHive</p>
      </div>
      <nav>
        <ul>
          <li><a href="">About The Project</a></li>
          <li><a href="">Team Details</a></li>
          <li><a href="">Feedback</a></li>
        </ul>
      </nav>
    </header>

    <!-- <div class="wrapper">
      <video autoplay playsinline muted loop preload poster="http://i.imgur.com/xHO6DbC.png">
      <source src="https://storage.coverr.co/videos/7RzPQrmB00s01rknm8VJnXahEyCy4024IMG?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6Ijg3NjdFMzIzRjlGQzEzN0E4QTAyIiwiaWF0IjoxNjI5MTg2NjA0fQ.M8oElp5VNO8bWEWmdF2nGiu3qDOOYRFfP8wkKvl8I20" />
      </video>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 285 80" preserveAspectRatio="xMidYMid slice">
      <defs>
        <mask id="mask" x="0" y="0" width="100%" height="100%" >
          <rect x="0" y="0" width="100%" height="100%" />
          <text x="72" y="10" id="text-main">HydoHive</text>
        </mask>
      </defs>
      <rect id="rectan" x="0" y="0" width="100%" height="100%" />
    </svg>
  </div> -->

    <!-- HidroHive container -->
    <div class="container">
      <div class="glitch" data-text="HydroHive">HydroHive</div>
      <div class="glow">HydroHive</div>

      <!-- <p class="subtitle">IMPRACTICAL DEVELOPER</p> -->

      <!-- <h1 data-value="HydroHive">HydroHive</h1> -->

    </div>

    <!-- <div class="scanlines"></div> -->
    
    <!-- <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets2.lottiefiles.com/packages/lf20_JMhjmh.json" mode="bounce" background="#FFFFFF"  speed="1.5"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player> -->

<!-- Mosue Scroll -->
<div class="mouse_scroll">

  <div class="mouse">
    <div class="wheel"></div>
  </div>
  <div class="down-arrow">
    <span class="m_scroll_arrows unu"></span>
    <span class="m_scroll_arrows doi"></span>
    <!-- <span class="m_scroll_arrows trei"></span> -->
  </div>
</div>


<script src="/static/script.js"></script>

  <!-- <script src={{ url_for('static', filename='script.js') }}></script> -->
  
  </body>
</html>
