<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/style2.css" />
  </head>
  <body>
    <div class="flex-container">
      <!-- LEFT BOX -->

      <div class="left-box">
        <!-- SEARCH BAR -->
        <div class="search">
          <img src="/WhatsApp Image 2023-03-18 at 21.43.08.jpg" alt="" />
          <input
            type="text"
            class="searchTerm"
            placeholder="Search for places..."
          />
          <img src="/WhatsApp Image 2023-03-18 at 21.43.081.jpg" alt="" />
        </div>

        <!-- EARTH GIF -->
        <img class="video" src="/abc.gif"></img>
        <!-- TEMPERATURE  -->
        <div class="temp">
            
            <b><label class="temperature">12 <sup class="superscript"><sup>o</sup>C</sup></label></b>
        </div>
        <!-- DAY TIME -->
        <div class="day">
            
            <b><label class="day">Saturday, 19:00</label></b>
        </div>
        <hr>

        <!-- WIND -->
        <div class="wind">
            
            <b><label class="wind">Windy</label></b>
        </div>
        <!-- RAIN -->
        <div class="rain">
            
            <b><label class="rain">Rain, 20%</label></b>
        </div>
        <!-- LOCATION -->
        <div class="location">
            
            <b><label class="rain">Kerela, India</label></b>
        </div>
      </div>

      <!-- RIGHT BOX -->
      <div class="right-box">
        <!-- TODAY -->
        <div class="topbar">
        <div class="dates">
        <label >FROM</label>
        <input name="start-date" type="date">
        <label >TO</label>
        <input name="end-date" type="date">
        </div>
        <!-- CELCIUS FARENHEIT -->
        <div class="buttons">
        <button class="celcius"><sup>o</sup>C</button>
        <button class="farenheit"><sup>o</sup>F</button>
        </div>

        </div>
        <!-- TODAYS HIGHLIGHTS -->
        <div class="highlights">Today's Highlights</div>
        <!-- BOX1 -->
        <div class="lane">
        <div class="box-1">
            <div>UV Index</div>
        </div>
        <!-- BOX2 -->
        <div class="box-1">
            <div>Wind Status</div>
        </div>
        <!-- BOX3 -->
        <div class="box-1">
            <div>UV Index</div>
        </div>
    </div>

    <div class="lane">
        <!-- BOX4 -->
        <div class="box-1">
            <div>UV Index</div>
        </div>
        <!-- BOX5 -->
        <div class="box-1">
            <div>UV Index</div>
        </div>
        <!-- BOX6 -->
        <div class="box-1">
            <div>UV Index</div>
        </div>
    </div>
      </div>
    </div>
  </body>
</html>
